<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>First</servlet-name>
        <servlet-class>First</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Second</servlet-name>
        <servlet-class>Second</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitServlet</servlet-name>
        <servlet-class>org.SubmitServlet.SubmitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmpSubmitServlet</servlet-name>
        <servlet-class>org.CmpSubmitServlet.CmpSubmitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyLogin</servlet-name>
        <servlet-class>org.CompanyLogin.CompanyLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>org.UploadFile.UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogOut</servlet-name>
        <servlet-class>org.UserLogOut.UserLogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>org.AdminLogin.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogOut</servlet-name>
        <servlet-class>org.AdminLogOut.AdminLogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadResume</servlet-name>
        <servlet-class>org.UploadResume.UploadResume</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveC</servlet-name>
        <servlet-class>org.ApproveC.ApproveC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDetails</servlet-name>
        <servlet-class>org.ShowDetails.ShowDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCmp</servlet-name>
        <servlet-class>org.SearchCmp.SearchCmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteC</servlet-name>
        <servlet-class>org.DeleteC.DeleteC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUser</servlet-name>
        <servlet-class>org.SearchUser.SearchUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteU</servlet-name>
        <servlet-class>org.DeleteU.DeleteU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitUpdate</servlet-name>
        <servlet-class>org.SubmitUpdate.SubmitUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyLogOut</servlet-name>
        <servlet-class>org.CompanyLogOut.CompanyLogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCandidate</servlet-name>
        <servlet-class>org.SearchCandidate.SearchCandidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMail</servlet-name>
        <servlet-class>org.SendMail.SendMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendConfirm</servlet-name>
        <servlet-class>org.SendConfirm.SendConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyToMail</servlet-name>
        <servlet-class>org.ApplyToMail.ApplyToMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadDownloadFileServlet</servlet-name>
        <servlet-class>org.UploadDownloadFileServlet.UploadDownloadFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>org.Upload.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>org.Download.Download</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>First</servlet-name>
        <url-pattern>/First</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Second</servlet-name>
        <url-pattern>/Second</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitServlet</servlet-name>
        <url-pattern>/SubmitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmpSubmitServlet</servlet-name>
        <url-pattern>/CmpSubmitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyLogin</servlet-name>
        <url-pattern>/CompanyLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogOut</servlet-name>
        <url-pattern>/UserLogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogOut</servlet-name>
        <url-pattern>/AdminLogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadResume</servlet-name>
        <url-pattern>/UploadResume</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveC</servlet-name>
        <url-pattern>/ApproveC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDetails</servlet-name>
        <url-pattern>/ShowDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCmp</servlet-name>
        <url-pattern>/SearchCmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteC</servlet-name>
        <url-pattern>/DeleteC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUser</servlet-name>
        <url-pattern>/SearchUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteU</servlet-name>
        <url-pattern>/DeleteU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitUpdate</servlet-name>
        <url-pattern>/SubmitUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyLogOut</servlet-name>
        <url-pattern>/CompanyLogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCandidate</servlet-name>
        <url-pattern>/SearchCandidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMail</servlet-name>
        <url-pattern>/SendMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendConfirm</servlet-name>
        <url-pattern>/SendConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyToMail</servlet-name>
        <url-pattern>/ApplyToMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadDownloadFileServlet</servlet-name>
        <url-pattern>/UploadDownloadFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/Download</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
